.modal__description {
  border: 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  background-color: transparent;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16.94px;
  max-width: 358px;
  width: 100%;
  min-height: 27px;
  margin: 0 36px;
  padding: 0;
}

.modal__description:focus {
  outline-color: rgba(0, 0, 0, 0);
}

.modal__description::placeholder {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 16.94px;
  color: black;
}
